.join {
    &__wrapper {
        padding: 242px 0 237px;
    }

    &__content {
        max-width: 700px;
    }

    &__title {
        line-height: 150%;
    }

    &__descr {
        font-size: 18px;
        line-height: 150%
    }

    &__button {
        text-align: center;
        background: rgba(124, 148, 255, 0.32);
        height: 100%;
        min-width: 330px;
        min-height: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }
}